{
  "parser": "babel-eslint",
  "globals": {
    "chrome": true,
    "__DEV__": true,
  },
  "extends": [
    "airbnb",
  ],
  "rules": {
    "eqeqeq": [2, "smart"],
    "no-console": 0,
    "no-new": 0,
    "object-curly-spacing": 0,
  }
}
