{
  "parser": "babel-eslint",
  "globals": {
    "chrome": true,
    "__DEV__": true,
  },
  "extends": [
    "airbnb",
  ],
  "rules": {
    "arrow-body-style": 0,
    "eqeqeq": [2, "smart"],
    "no-underscore-dangle": 0,
    "func-names": 0,
    "new-cap": 0,
    "no-console": 0,
    "no-new": 0,
    "object-curly-spacing": 0,
    "prefer-template": 0,
  }
}
